SOAPExpose/SOAP_ExposeMsgSetService_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/SOAP_ExposeMsgSet" xmlns="http://tempuri.org/SOAP_ExposeMsgSet" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:mrm="http://tempuri.org/SOAP_ExposeMsgSet" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tempuri.org/SOAP_ExposeMsgSet" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
                                                                                  <xsd:element name="intA" type="xsd:int"/>
            <xsd:element name="intB" type="xsd:int"/>
            <xsd:element name="addC" type="xsd:int"/>
            <xsd:element name="faultCode" type="xsd:int"/>
            <xsd:element name="faultMsg" type="xsd:string"/>
            <xsd:complexType name="Req">
        <xsd:sequence>
          <xsd:element ref="mrm:intA"/>
          <xsd:element ref="mrm:intB"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="Res">
        <xsd:sequence>
          <xsd:element ref="mrm:addC"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:complexType name="ErrorMsg">
        <xsd:sequence>
          <xsd:element ref="mrm:faultCode"/>
          <xsd:element ref="mrm:faultMsg"/>
        </xsd:sequence>
      </xsd:complexType>
            <xsd:element ibmSchExtn:docRoot="true" name="Req" type="mrm:Req"/>
            <xsd:element ibmSchExtn:docRoot="true" name="Res" type="mrm:Res"/>
            <xsd:element ibmSchExtn:docRoot="true" name="ErrorMsg" type="mrm:ErrorMsg"/>
        </xsd:schema>